*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Papyrus";
    background-color: sandybrown;
}
.header{
    display: flex;
}
a{
    text-decoration: none;
    color:maroon;
}